{% extends 'base.html' %}

{% block content %}

<div class="content">
    <div class="container">
        <!-- Payout Address -->
        <div class="row">
            <div class="col-3">

                <label for="name" class="col-sm-2 col-form-label no-space-break">Name</label>

            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <input type="text" class="form-control-plaintext" id="name"
                    placeholder="Name" value="{{ user }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <label for="phone" class="col-sm-2 col-form-label no-space-break">Phone</label>

            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <input type="text" class="form-control-plaintext" id="phone"
                    placeholder="Phone Number" value="{{ user.phone }}">
            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <label for="name" class="col-sm-2 col-form-label no-space-break">Email</label>

            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <input type="text" class="form-control-plaintext" id="email"
                    placeholder="Email" value="{{ user.email}}">
            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <label for="name" class="col-sm-2 col-form-label no-space-break">Payout Address</label>

            </div>
            <div class="col-2"></div>
            <div class="col-7">
                <input type="text" class="form-control-plaintext" id="payoutAddress"
                    placeholder="BEP(20)" value="{{ user.payoutaddress}}">
            </div>
        </div>
        
    </div>

    <script>
        function setValueAttr(el) { el.setAttribute('value', el.value) }

        function setMaxPayout() {

            var payField = document.getElementById("payoutAmount");
            console.log(payField.value);
            payField.value = payField.max;
            console.log(payField.max)

        }

        var navbar = document. getElementById("navbar");
        var aTags = null;
        for (var i = 0; i < navbar. childNodes. length; i++) {
        if (navbar. childNodes[i]. id == "contact") {
        wallet = navbar. childNodes[i];
        console.log('found contact');
        wallet. className="active";
        
        }
        else{
            navbar. childNodes[i]. className=""
        }
        }

    </script>


{% endblock %}